.mol-image-status-indicator {
  position: relative;
  margin-right: 20px;
}

.mol-image-status-indicator-circle {
  height: 16px;
  width: 16px;
  background: red;
  border: 3px solid #282c34;
  border-radius: 50%;

  position: absolute;
  right: -3px;
  top: 33px;
}

.mol-image-status-indicator-circle--online {

}
