.mol-image-status-indicator {
  position: relative;
  margin-right: 20px;
}

.mol-image-status-indicator-circle {
  height: 16px;
  width: 16px;
  background: #1BF991;
  border: 3px solid #282c34;
  border-radius: 50%;

  position: absolute;
  right: -3px;
  top: 33px;
}

.mol-image-status-indicator-circle--online {
  background: #1BF991;
}

.mol-image-status-indicator-circle--away {
  background: #FFAB61;
}

.mol-image-status-indicator-circle--busy {
  background: #F9411B;
}

.mol-image-status-indicator-circle--offline {
  background: grey;
}
